* {
    margin: 0px;    /* Margen exterior */
    padding: 0px;   /* Relleno, o margen interior */
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 10px;
}
header, section, footer {
    padding: 5px;
}
.titulo-pagina {
    font-size: 2em;
}
.titulo-seccion {
    font-size: 1.6em;
}
.titulo-articulo {
    font-size: 1.2em;
}
.tabla {
    border: green 3px solid;
}
.tabla th {
    border: green 2px solid;
    padding-left: 10px;
    padding-right: 10px;
}
.tabla td {
    border: green 1px solid;
    padding-left: 10px;
    padding-right: 10px;
}
.articulo {
    background-color: honeydew;
}
.mayusculas {
    text-transform: uppercase;
}