* {
    margin: 0px;    /* Margen exterior */
    padding: 10px;   /* Relleno, o margen interior */

}
.btn-borrar{
    margin-top: 20px;
    transform: scale(2);
}
body{
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 10%;
    margin-left: 10%;
    background-color: rgb(252,252,252);
}
header{
    background-position-x: center; 
}
.tabla {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 15%;
    margin-left: 12%;
    background-position-x: center;
    border: 2px solid;
    /* padding-left: 1000px; */
    background-color: rgb(211,211,211);
    border-collapse: collapse;
    width: 85%;
    text-align: center;
    border-color: rgb(169,169,169);
    
}
.tabla th {
    /* border: 2px solid; */
    background-color: rgb(169,169,169);
    /*padding-left: 10px;*/
    /*padding-right: 10px;*/
    padding: 8px;
    color: black;
    border-color: rgb(180,180,180);
}
.tabla td {
    /*border: 1px solid;
    padding-left: 10px;
    padding-right: 10px;*/
    padding: 8px;
    border-color: rgb(10, 16, 34);
}
/* .tabla tr {
    border: 1px solid;
    /*padding-left: 10px;
    padding-right: 10px;*/
    /* border-color: rgb(172, 177, 197);
} */ 

.tabla tr:nth-child(even){
    background-color: rgb(179,179,179);
}

.activo {
        padding: 100px;
        left: 9px;
        top: 5px;
        width: 20px;
        height: 20px;
        border: solid white;
        border-width: 0 3px 3px 0;
      

}
.btn-eliminar{
    background-color: darkgrey;
    display: inline-block;
    color: black;
    padding-left: 10px;
}

.btn-borrar{
    float:right;
    top: 1000px;
    background-color: grey;
    color: white;
}

.btn-anadir{
    display: inline-block;
    background-color: rgb(174, 192, 187);
    color: black;
    margin-top: 15px;
    transform: scale(1.5);
    padding-left: 10px;
}

.btn-extra{
    display: inline-block;
    text-align: center;
    border: gray;
    background-color: rgb(185, 199, 195);
    color: mintcream;
    cursor: pointer;
    font-weight: bold;
    display: none;
    margin-top: 15px;
    margin-left: 35px;
    transform: scale(1.5);
}

.btn-edit{
    background-color: white;
    display: inline-block;
    color: black;
    padding-left: 10px;
}

.botones{
    padding: 10px;
    position: relative;
    margin: 10px;
}
.ver {
    display: block;
}
.no_ver {
    display: none;
}
