﻿@{
    ViewData["Title"] = "Gestion de usuarios";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido</h1>
    <a href="./ejemploWeaFor_AJAX.html">ejemploWeaFor_AJAX.html</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
